<html>
  <head>
    <script src="vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>Welcome to Aural Sex!</h2>

      <select v-model="place">
        <option value="" disabled>Select a location</option>
        <option v-for="playlist,l in playlists" :key="l" :value="l">{{l}}</option>
      </select>

      <div v-if="place">
        <p v-if="playlists[place].length==0">
          <em>No videos queued.</em>
        </p>
        <ol>
        <li v-for="videoObject,index in playlists[place]">
          <b>{{videoObject.title}}</b> by {{videoObject.author.name}} ({{videoObject.duration}}) <a :href="videoObject.link">link</a> <button @click="removeVideo(index)">Remove this video</button>
        </li>
        </ol>

        <div>Add a video:</div>
        <input v-model="videoTextBox" @keydown.enter="addNewVideo" type="text">
        <div>{{videoErrorText}}</div>
        <button @click="addNewVideo">Add new video</button>
      </div>

    </div>


    <script>

      let ws = null;
      function startWebsockets(){

        ws = new WebSocket('ws://'+location.host);

        ws.onmessage = function(event) {
          console.log(event.data)
          var message = JSON.parse(event.data);
          if(typeof message.playlists === "object"){
            app.playlists = {
              ...app.playlists,
              ...message.playlists
            }
          }
          if(message.searcherror){
            app.videoErrorText = "Sorry, we couldn't find that video. Try another search term."
          }
        };

        ws.onclose = function(){
          // Try to reconnect in 5 seconds
          setTimeout(function(){startWebsockets()}, 5000);
        };

      }
      startWebsockets();

      function requestSearch(term,place){
        ws.send(JSON.stringify({
          search:{
            term,
            place
          }
        }))
      }
      function requestRemove(index,place){
        ws.send(JSON.stringify({
          remove:{
            index,
            place
          }
        }))
      }
      function requestVolume(volume){
        ws.send(JSON.stringify({
          volume
        }))
      }

      let app = new Vue({
        el: "#app",
        data(){
          return {
            playlists: {},
            place: "",
            videoTextBox: "",
            videoErrorText: ""
          }
        },
        methods:{
          addNewVideo(){
            if(this.place){
              requestSearch(this.videoTextBox,this.place);
            }
            this.videoTextBox="";
            this.videoErrorText="";
          },
          removeVideo(index){
            if(this.place){
              requestRemove(index,this.place)
            }
          }
        }
      })
    </script>
  </body>
</html>